.dropdown-wrapper.community {
    position    : relative;
    margin-left : 22px;
    margin-right: 35px;

    .dropdown-btn {
        border     : 1px solid transparent;
        font-family: Karla, sans-serif;
        font-style : normal;
        font-weight: normal;
        font-size  : 17px;
        line-height: 27px;
        color      : #FFFFFF;
        display    : flex;
        align-items: center;
        background : transparent;

        &::after {
            content     : " ";
            width       : 0;
            height      : 0;
            border-left : 6px solid transparent;
            border-right: 6px solid transparent;
            border-top  : 9px solid white;
            margin-left : 5px;
        }
    }

    .dropdown-body {
        margin-top     : 10px;
        visibility     : hidden;
        transition     : all 0.3s ease-in-out;
        position       : absolute;
        right          : 0;
        padding        : 0;
        background     : #FFFFFF;
        border-radius  : 7px;
        list-style-type: none;
        overflow       : hidden;
        z-index        : 999;

        &>.dropdown-item {
            width      : 100%;
            padding    : 13px 14px;
            display    : flex;
            align-items: center;

            &:hover {
                cursor          : pointer;
                background-color: #F7F7F7;
            }

            &>a {
                display    : flex;
                align-items: center;
                width      : 100%;

                &>span {
                    margin-left: 5px;
                    font-family: Karla, sans-serif;
                    font-style : normal;
                    font-weight: normal;
                    font-size  : 16px;
                    line-height: 16px;
                    color      : #332424;
                }
            }


            &:not(:first-child) {
                border-top: 1px solid rgba(0, 0, 0, 0.11);
            }
        }
    }

    &:hover .dropdown-body {
        visibility: visible;
    }
}